.dialog-root {
    position: absolute;
    bottom: 40px;
    width: 100%;
    justify-content: center;
    display: flex;
    pointer-events: none;
}

.textbox {
    white-space: normal;
    width: 80%;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    padding: 16px;
    pointer-events: auto;
    align-self: center;
}

.speaker-label {
    unity-font-style: bold;
    font-size: 32px;
    margin-bottom: 5px;
    color: rgba(90, 122, 205, 1);
}

.dialog-label {
    font-size: 26px;
    color: rgba(255, 255, 255, 1);
}

.button-container {
    height: 100%;
    top: 0;
    bottom: 0;
    right: 10px;
    display: flex;
    gap: 10px;
    padding: 2px;
    justify-content: space-between;
    position: absolute;
}

.skip-button {
    position: relative;
    background-color: rgba(90, 122, 205, 1);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    border-width: 3px;
    padding: 8px 12px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    top: 10px;
}

.continue-button {
    position: relative;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.button:focus,
.button:hover {
    border-color: rgba(238, 238, 238, 1);
}
